@model MVCValidationAHBCJuly2019.Models.TaxCalculatorResultViewModel

@{
    ViewData["Title"] = "CalculationResult";
}

<h1>CalculationResult</h1>

<div>
    <h4>TaxCalculatorResultViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
